.nav-link{
  font-Size:5vh;
  text-Decoration:none;
  margin-right: 5vh;
  color: aliceblue;
}
.nav{
  width:100%;
}
.todolist{
  height: 50vh;
  width:30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  border-radius: 2em;
}
.list{
  height: 25vh;
  overflow: hidden scroll;
  width: 45vh;
  background-color: darkgray;
  border: 0.2rem solid;
}

.home-listitem{
  background-color: grey;
  color: azure;
  text-decoration: solid;
  font-size: 1.5rem;
}

.mylist-listitem{
  background-color: cyan;
  margin-left: 5%;
  width: 80%;
  color: rebeccapurple;
  text-decoration: solid;
  font-size: 3rem;
}